[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/Oipo/uWebSockets.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "external/robin-hood-hashing"]
	path = external/robin-hood-hashing
	url = https://github.com/oipo/robin-hood-hashing.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/Oipo/yaml-cpp.git
[submodule "external/pcg-cpp"]
	path = external/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
